{% extends "voxAdminBundle:Admin:main.html.twig" %}

{% block title %}New Release{% endblock %}
{% block content_title %}<h1>New Release</h1>{% endblock %}

{% block content %}

    {#{{ form(form) }}#}

    {{ form_start(form) }}


    <div class="form-group">
        <label>Artist: </label>
        {{ form_widget(form.artist) }}
    </div>

    <div class="form-group">
        <label>Title: </label>
        {{ form_widget(form.title) }}
    </div>
    <div class="form-group">
        <label>Tracklist: </label>
        {{ form_widget(form.tracklist) }}
    </div>
    <div class="form-group">
        <label>Description: </label>
        {{ form_widget(form.description) }}
    </div>



    <div class="form-group">
        <label>Enable:
            {{ form_widget(form.enabled) }}
        </label>
    </div>

    <img height="100" width="100" id="img" src="#" alt="" style="display: none;"/>

    <div class="form-group">
        <label>
            {{ form_widget(form.image) }}
        </label>
    </div>




    {{ form_widget(form.save) }}
    {{ form_end(form) }}


{% endblock %}


{% block javascript %}

{{ parent() }}

{% javascripts
'@voxAdminBundle/Resources/public/js/file-loader.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}


{% endblock %}