{% extends "voxAdminBundle:Admin:main.html.twig" %}

{% block title %}New Release{% endblock %}
{% block content_title %}<h1>New Release</h1>{% endblock %}

{% block content %}

    {#{{ form(form) }}#}

    {{ form_start(form) }}

    <div class="form-group">
        <label>Artist: </label>
        {{ form_widget(form.artist) }}
    </div>
    <div class="form-group">
        <label>Title: </label>
        {{ form_widget(form.title) }}
    </div>
    <div class="form-group">
        <label>Tracklist: </label>
        {{ form_widget(form.tracklist) }}
    </div>
    <div class="form-group">
        <label>Description: </label>
        {{ form_widget(form.description) }}
    </div>
    <div class="form-group">
        <label>Description: </label>
        {{ form_widget(form.image_1) }}
    </div>
    <div class="form-group">
        <label>Description: </label>
        {{ form_widget(form.image_2) }}
    </div>
    <div class="form-group">
        <label>Description: </label>
        {{ form_widget(form.image_3) }}
    </div>

    <div class="form-group">
        <label>Enable:
            {{ form_widget(form.enabled) }}
        </label>
    </div>
    {{ form_widget(form.save) }}
    {{ form_end(form) }}

    {#<div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile">

        <p class="help-block">Example block-level help text here.</p>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" checked> Check me out
        </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>#}


{% endblock %}