{% extends "voxAdminBundle:Admin:main.html.twig" %}

{% block title %}Edit Artist{% endblock %}
{% block content_title %}<h1>Edit Artist</h1>{% endblock %}

{% block content %}

    {#{{ form(form) }}#}

    {{ form_start(form) }}

    <div class="form-group">
        <label>Name: </label>
        {{ form_widget(form.name) }}
    </div>
    <div class="form-group">
        <label>Bio: </label>
        {{ form_widget(form.bio) }}
    </div>

    <img height="100" width="100" id="img" src="#" alt="" style="display: none;"/>

    {% if img.webPath is defined %}<img id="img-old" height="100" width="100" src="{{ asset(img.webPath) }}" alt=""/>{% endif %}
    <br>

    <div class="form-group">
        <label>
            {{ form_widget(form.image) }}
        </label>
    </div>

    {{ form_widget(form.save) }}
    {{ form_end(form) }}


{% endblock %}

{% block javascript %}

    {{ parent() }}

    {% javascripts
    '@voxAdminBundle/Resources/public/js/file-loader.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


{% endblock %}