{% extends "voxAdminBundle:Admin:main.html.twig" %}

{% block title %}Artists{% endblock %}
{% block content_title %}<h1>Artists</h1>{% endblock %}

{% block content %}


    <a class="btn btn-default" href="{{ path('artist_add') }}"><i class="fa fa-plus"></i> New Artist</a> <br>


    <table class="table table-striped">
        <thead>
        <th>Pic</th>
        <th>Name</th>
        <th>Bio</th>
        <th>Date Added</th>
        <th>Delete</th>
        <th>Edit</th>
        </thead>
        <tbody>

        {% for artist in listArtists %}
            <tr>
                <td>
                    {% if artist.image.webPath is defined %}<img height="50" width="50" src="{{ asset(artist.image.webPath) }}" alt="{{ artist.name }}"/>{% endif %}
                </td>
                <td>{{ artist.name }}</td>
                <td>{{ artist.bio }}</td>
                <td>{{ artist.dateAdded | date('Y-m-d') }}</td>
                <td><a href="{{ path('artist_delete', {'id': artist.id}) }}">Delete</a></td>
                <td><a href="{{ path('artist_edit', {'id': artist.id}) }}">Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>





{% endblock %}